*{
    transition: all 0.2s ease;
}

btn{
    cursor: pointer;
}

.limite {
    border: 1px solid red;
}
/* Menu e sidebar*/
.logo-img{
    width: 60px;
    min-height: 60px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 15px;
    border: 5px solid #0f9aed;
}
.logo-img:hover{
    transform: scale(1.2);
}
.sidebar-header > p{
    margin: 0;
    font-size: 22px;
}
.sidebar-header > span{
    margin-top: 2px;
    font-size: 12px;
    color:#909090;
}
.sidebar-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.sidebar {
    position: fixed;
    top: 0 ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100%;
    border-right: 1px solid #d4d4d4;
    background-color: #fff;
    z-index: 1;
}
.sidebar a{
    text-decoration: none;
    color: inherit;
}
.sidebar hr{
    width: 100%;
    border: 2px solid #d8d8d8;
    margin:0;
}
.sidebar button {
    height: 60px;
    background-color: transparent;
    border: 0;
    font-family: inherit;
    color: #909090;
    cursor: pointer;
    text-align: left;
    padding: 0;
    width: 100%;
}
.sidebar button > span {
    display:inline-flex;
    width: 100%;
    padding: 0;
    align-items: center;
    gap:12px;
    height: 60px;
    padding: 0 16px 0 12px;
    line-height: 1;
}
.sidebar button:hover > span {
    background-color: rgba(000, 000, 000, 0.08);
    color: #121212;
    border-left: 5px solid #0f9aed;
    transition: all 0.1s ease-in-out;
}
.sidebar button > i {
    position: relative;
    font-size: 28px;
}
.sidebar button > span {
    font-size: 16px;
    transition: all 0.1s ease-in-out;
}
.sidebar > nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.button-mobile{
    z-index: 99;
    background-color: #ffffff;
    border-bottom: 1px solid #c6c6c6;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    color: #000;
    border: 0;
    cursor: pointer;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0;
    width: 100%;
}
.button-mobile span {
    font-size: 22px;
    margin-left: 8px;
}
.menu-mobile{
    display: none;
}
.menu-mobile-active{
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.menu-mobile-active button{
    background-color: transparent;
    border: 0;
    color: inherit;
    margin-bottom: 16px;
    cursor: pointer;
}
.menu-mobile-active button > span {
    display: inline-flex;
    align-items: center;
}
.mobile-text {
    font-size: 22px;
    margin-left: 8px;
}
/* topo */
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.button-cart{
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
}
.button-cart:hover {
    background-color: #c6c6c6;
}
.button-cart span {
    margin: 0; 
    font-size: 35px; 
}
.button-cart p {
    margin: 0; 
    padding-left: 5px; 
    font-size: 18px; 
    font-weight: bold;
}
/* Conteúdo do site */
.main {
    position: relative;
    margin-left: 240px;
    padding: 40px;
    font-size: 16px;
    text-align: justify;
}
.content{
    display:flex;
    justify-content:last baseline;
    flex-wrap: wrap;
}
.title-content{
    /* background-color: #fff;
    padding: 10px 25px;
    border-radius: 10px; */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.title-content i{
    scale: 1.5;
}
.title-content h1{
    font-size: 30px;
}
.articles {
    padding: 10px;
}
.articles-content{
    display:flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    flex: 1;
    height: 100%;
    width: 100%;
    padding: 30px;
    justify-content: space-between;
}
.articles-content img {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 250px;
}
.articles-content img:hover {
    scale: 1.1;
}
.articles-content h3{
    text-align: left;
}
.articles-content:hover {
    background-color: #f9f9f9;
}
.articles-content > button{
    bottom: 0;
}
.articles-content button > span{
    margin-right: 5px;
}
.div-size {
    display: flex;
    justify-content: space-between;
}
.size{
    padding: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #eeeeee;
    border-radius:50%; 
    width:35px; 
    height:35px;
    border: none;
}
.size:hover {
    background-color: #c6c6c6;
}
/* Carrinho de compras */
#carrinho {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #12121299;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    justify-content: end;
}
#carrinho-content {
    background-color: #fff;
    width: 500px;
    padding: 30px;
}
/* Responsividade */
@media (max-width: 1460px) {
    .sidebar {
        width: 72px;
        padding: 10px;
    }
    .sidebar button > span {
        min-width:  50px;
        max-width:  50px;
        min-height: 50px;        
        max-height: 50px;        
        border-radius: 5px;
    }
    .sidebar button > span > span {
        visibility: hidden;
        opacity: 0;
        z-index: 99;

    }
    .text-menu::before {
        visibility: hidden;
        opacity: 0;
    }
    .sidebar button:hover .text-menu::before {
        visibility: visible;
        opacity: 1;
    }
    .text-menu::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background: #0f9aed;
        left: 1;
        margin-left: -15px;
        margin-top: 2px;
        transform: rotate(45deg);
    }
    .sidebar button:hover > span > span {
        visibility: visible;
        opacity: 1;
        background-color: #0f9aed;
        color: #fff;
        display: block;
        padding: 10px;
        margin-left: 10px;
        border-radius: 5px;
        font-weight: bold;
    }
    .sidebar-header{
        padding-bottom: 0;
    }
    .logo-img{
        margin-left: -5px;
        width: 40px;
        min-height: 40px;
    }
    .main {
        margin-left: 72px;
    }
    .sidebar-header > p{
        display: none;
    }
    .sidebar-header > span{
        display: none;
    }
}
@media ( max-width: 768px) {
    .sidebar{
        display: none;
    }
    .button-mobile{
        display: flex;
    }
    .main {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 72px;
        padding: 20px;
    }
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button-cart{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #carrinho-content{
        width: 100%;
        margin-top: 70px;
    }
}